@model EntityLayer.Concrete.BolumKisit
@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h4>Ders</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Add" asp-controller="BolumKisit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="BolumKisitId" />
              <div class="form-group">
                <label asp-for="Bolum.BolumAdi" class="control-label"></label>
                <input asp-for="Bolum.BolumAdi" class="form-control" />
                <span asp-validation-for="Bolum.BolumAdi" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SablonZaman.DersBaslangic" class="control-label"></label>
                <input asp-for="SablonZaman.DersBaslangic" class="form-control" />
                <span asp-validation-for="SablonZaman.DersBaslangic" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SablonZaman.DersBitis" class="control-label"></label>
                <input asp-for="SablonZaman.DersBitis" class="form-control" />
                <span asp-validation-for="SablonZaman.DersBitis" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SablonZaman.Gun" class="control-label"></label>
                <input asp-for="SablonZaman.Gun "class="form-control" />
                <span asp-validation-for="SablonZaman.Gun" class="text-danger"></span>
            </div>
          
   
        
            
          
            <div class="form-group">
                <input type="submit" value="Kaydet" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}